
.light-pillar-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.bg-black-absolute {
  background-color: #000000 !important;
}

/* Efect de scanare subtil pe fundal */
.bg-blueprint {
  background-image: 
    radial-gradient(rgba(57, 255, 20, 0.03) 1px, transparent 1px);
  background-size: 50px 50px;
  pointer-events: none;
}
